.scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: theme('colors.slate.800');
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: theme('colors.primary.DEFAULT');
  }
}
